//ADD ROOM
.form-style-3{
  width: 630px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
  display:block;
  margin-bottom: 10px;
}
.form-style-3 label > span{
  float: left;
  width: 100px;
  color: black;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px white;
  padding: 20px;
  background: #fff;

}
.form-style-3 fieldset legend{
  color: #fff;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #27B886;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #F1F1F1;
  -moz-box-shadow:-0px -1px 2px #F1F1F1;
  -webkit-box-shadow:-0px -1px 2px #F1F1F1;
  font-weight: normal;
  font-size: 20px;
}

.form-style-3 input[type=text],
.form-style-3 select{
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid black;
  outline: none;
  color: black;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #ECECEC;
  -moz-box-shadow: inset 1px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 1px 1px 4px #ECECEC;
  background: #F7F7F7;
  width:50%;
}
.form-style-3 textarea{
  width:250px;
  height:100px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid black;
  outline: none;
  color: #F072A9;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #ECECEC;
  -moz-box-shadow: inset 1px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 1px 1px 4px #ECECEC;
  background: #F7F7F7;
  width:50%;

}
.action{
  float: right;
}
 a{
  text-decoration: none;
  color: #fff;
}

//EDIT ROOM
.form-style-3{
  width: 630px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style-3 label{
  display:block;
  margin-bottom: 10px;
}
.form-style-3 label > span{
  float: left;
  width: 100px;
  color: black;
  font-weight: bold;
  font-size: 13px;
  text-shadow: 1px 1px 1px #fff;
}
.form-style-3 fieldset{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  margin: 0px 0px 10px 0px;
  border: 1px white;
  padding: 20px;
  background: #fff;

}
.form-style-3 fieldset legend{
  color: #fff;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 5px 5px 0px 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  background: #27B886;
  padding: 0px 8px 3px 8px;
  box-shadow: -0px -1px 2px #F1F1F1;
  -moz-box-shadow:-0px -1px 2px #F1F1F1;
  -webkit-box-shadow:-0px -1px 2px #F1F1F1;
  font-weight: normal;
  font-size: 20px;
}

.form-style-3 input[type=text],
.form-style-3 select{
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid black;
  outline: none;
  color: black;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #ECECEC;
  -moz-box-shadow: inset 1px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 1px 1px 4px #ECECEC;
  background: #F7F7F7;
  width:50%;
}
.input-field1{
  width:250px;
  height:100px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border: 1px solid black;
  outline: none;
  color: #F072A9;
  padding: 5px 8px 5px 8px;
  box-shadow: inset 1px 1px 4px #ECECEC;
  -moz-box-shadow: inset 1px 1px 4px #ECECEC;
  -webkit-box-shadow: inset 1px 1px 4px #ECECEC;
  background: #F7F7F7;
  width:50%;

}
